@font-face {
  font-family: Mistral; /* Гарнитура шрифта */
  src: url(../fonts/mistralregular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Medium;
  src: url(../fonts/YandexSansText-Medium.ttf)
}
@font-face {
  font-family: light;
  src: url(../fonts/YandexSansText-Thin.ttf)
}
@font-face {
  font-family: Regular;
  src: url(../fonts/YandexSansText-Regular.ttf)
}
img{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
a{
  text-decoration: none;
}
.box1{
  margin-left: 10vw;
  margin-top: 10vh;
}
.box1 h1 a{
  position: relative;
  z-index: 5;
  font-family: Mistral;
  font-size: 50px;
  color: #ECEC26;
}
.box1 h1:hover{
  text-shadow: #ECEC26 0 0 50px;
}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box2 h1{
  position: relative;
  z-index: 5;

  font-family: light;
  font-size: 100px;
  color: #FFFFFF;
}
.box2 h2{
  margin-left: 50vw;
  margin-top: -15vh;
  position: relative;
  z-index: 5;
  font-family: Regular;
  font-size: 100px;
  color: #FF0000;
}
.box3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box3 h1{
  position: relative;
  z-index: 5;
  margin-top: -5vh;
  font-family: light;
  font-size: 100px;
  color: #FFFFFF;
}
@media (max-width: 1720px) {
  .box2 h2{

    margin-top: 5vh;
  }
  .box3 h1{

    margin-top: 5vh;
  }
}
@media (max-width: 1920px) {
  .box2 h2{

    margin-top: 5vh;
  }
  .box3 h1{

    margin-top: 5vh;
  }
}
@media (max-width: 2220px) {
  .box2 h2{

    margin-top: 5vh;
  }
  .box3 h1{

    margin-top: 5vh;
  }
}
@media (max-width: 1360px) {
  .box2 h2{

    margin-top: 5vh;
  }
  .box3 h1{

    margin-top: 5vh;
  }
}
@media (max-width: 1270px) {
  .box2 h2{
    font-size: 80px;
    margin-top: 3vh;
  }
  .box3 h1{
    font-size: 80px;
    margin-top: 3vh;
  }
}
.box2 h1{

  font-size: 80px;

}
@media (max-width: 1000px) {
  .box2 h2{
    font-size: 80px;
    margin-top: 3vh;
  }
  .box3 h1{
    font-size: 80px;
    margin-top: 3vh;
  }
}
.box2 h1{

  font-size: 80px;

}
